name: Link Check

on:
  push:
  pull_request:

jobs:
  links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check internal and external links
        uses: lycheeverse/lychee-action@v2
        with:
          args: --verbose --no-progress --accept 200,429 './**/*.html' './README.md'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
